div{
	
}

html{
	height:100%;
	background: rgb(229,244,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,244,249,1) 0%, rgba(205,235,247,1) 39%, rgba(173,219,237,1) 58%, rgba(90,144,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,244,249,1)), color-stop(39%,rgba(205,235,247,1)), color-stop(58%,rgba(173,219,237,1)), color-stop(100%,rgba(90,144,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,244,249,1) 0%,rgba(205,235,247,1) 39%,rgba(173,219,237,1) 58%,rgba(90,144,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,244,249,1) 0%,rgba(205,235,247,1) 39%,rgba(173,219,237,1) 58%,rgba(90,144,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,244,249,1) 0%,rgba(205,235,247,1) 39%,rgba(173,219,237,1) 58%,rgba(90,144,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,244,249,1) 0%,rgba(205,235,247,1) 39%,rgba(173,219,237,1) 58%,rgba(90,144,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5f4f9', endColorstr='#5a90ed',GradientType=0 ); /* IE6-9 */

}
h2{
	color: #0B0B61;
	text-align: center;
	bottom: 10px;
	font-size: 200%;

}

table{
	width: 30%;
	margin-left:auto; 
    margin-right:auto;
}

td{

}

.score{
	text-align: center;
	text-shadow: 3px 3px 3px white;
}

.backbtn{
	width: 45px;
	height: 45px;
	border: 1px solid black;
	background-image: url(back.png);
	background-position: left top;
}

.test{
	position:fixed;
  	height:45px;
  	width:45px;
}

.test img {
	position:absolute;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.test img.top:hover {
	opacity: 0;
}

.backbtn:hover{
	background-image: url(backhov.png);
}

.firstcol{
	background-color: #819FF7;
}

.secondcol{
	background-color: #CED8F6;
	text-align: center;
}